@charset "UTF-8";

/* CSS personalizado */

body {
   padding-top: 50px;
}

.principal {
    padding: 40px 15px;
    text-align: center;   
}

th {
    text-align: center;
}

#form_login {
    max-width: 450px;
    padding: 15px;
    margin: 80px auto;
}

#div_input, #tituloLogin {
    margin-bottom: 30px;
}
